<h1>Great Work</h1>
<h2>Everyone have a story. We make it possible to share it! </h2>
<hr/>
<div class='question'>
  <h1>У Вас есть любимое дело? звучит же =)</h1>
  <h2><%= link_to "Yes", new_user_path(:a => "yes") %> <%= link_to "No", new_user_path(:a => "no") %></h2>
</div>