<h1>Great Work</h1>
<div>
  <object width="480" height="360"><param name="movie" value="http://www.youtube.com/v/UF8uR6Z6KLc?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/UF8uR6Z6KLc?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</div>
<%= link_to "asdcasd", posts_path %>
<div>
  <h1>У Вас есть любимое дело? звучит же =)</h1>
  <%= link_to "Yes", answers_path(:a => "yes") %> <%= link_to "No", answers_path(:a => "no") %>
</div>