This is the page of  <%= @user.email %>
<table>
  <% @user.answers.each do |answer| %>
      <tr>
        <td><%= answer.question %></td>
        <td><%= answer.answerText %></td>
      </tr>
  <% end %>
</table>