This is the page of  <%= @user.successful? ? 'successful' : ''%> <%= @user.email %>
<table>
  <% @user.answers.each do |answer| %>
      <tr>
        <td><h3><%=answer.question.questionText %></h3></td>
        <td><%= answer.answerText %></td>
      </tr>
  <% end %>
</table>